@import "tailwindcss";

@theme {
    --font-tangerine: var(--font-tangerine);
    
    /* Brand Colors */
    --color-black: #000000;
    --color-white: #FFFFFF;
    --color-accent: #F8AD41;
}

.nav-link {
    position: relative;
    color: var(--color-white);
    transition: color 0.3s ease;
}

.nav-link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--color-accent);
    transition: width 0.3s ease;
}

.nav-link:hover {
    color: var(--color-white);
}

.nav-link:hover::after {
    width: 100%;
}
